[Unit]
Description=Ibus
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/ibus-daemon -rx --panel=disable
ExecStartPost=/usr/bin/bash -c 'sleep 1 && /usr/bin/ibus engine xkb:us::eng'
Restart=on-failure

[Install]
WantedBy=graphical-session.target

