[Unit]
PartOf=graphical.session.target
After=graphical-session.target
Requisite=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/home/dio/dotfiles/scripts/system/xremap.sh
Restart=on-failure
